<footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <ul class="list-inline text-center">
            <li class="list-inline-item">
              <a href="#">
                <span class="big">
                  <i class="bi bi-twitter"></i>
                </span>
              </a>
            </li>
            &nbsp;&nbsp;&nbsp;
            <li class="list-inline-item">
              <a href="#">
                <span class="big">
                  <i class="bi bi-facebook"></i>
                </span>
              </a>
            </li>
            &nbsp;&nbsp;&nbsp;
            <li class="list-inline-item">
              <a href="#">
                <span class="big">
                  <i class="bi bi-github"></i>
                </span>
              </a>
            </li>
          </ul>
          <p class="copyright text-muted">Copyright &copy; Your Website 2019</p>
        </div>
      </div>
    </div>
  </footer>
