
<ul class="list-group my-5">
<li class="list-group-item" (click)="setActive(book)" [ngClass]="{'active': book.id === selectedBook?.id && active}" *ngFor="let book of books"> <img src="{{book.img}}" style="width:65px; height:100px"> {{book.title}} - {{book.author}} <span class="float-end">€ {{book.price}}&nbsp;&nbsp;&nbsp;<button class="btn-danger btn-sm" (click)="delete($event, book)"><i class="bi bi-trash-fill"></i></button>&nbsp;&nbsp;<button class="btn-info btn-sm" (click)="goEdit($event, book)"><i class="bi bi-pencil-fill"></i></button>&nbsp;&nbsp;<button class="btn-success btn-sm"(click)="detail(book)"><i class="bi bi-info-circle-fill"></i></button></span></li>
</ul>
